<link rel="stylesheet" href="/css/bootstrap.css"/> <!-- load bootstrap css -->
<link rel="stylesheet" href="/css/style.css"/>
<div class="container">
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
  <h2 class="text-muted"><strong>Swahilibox Consultancy</strong></h2>
</div>
 <h2 class="page-header">Dashboard</h2>
 <div class="row">
   <div class="col-lg-12 ">
 <p>Welcome to your dashboard</p>
 </div>
 </div>
</div>
